<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TopKeyboard</key>
	<array>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>r</string>
			<key>capital</key>
			<string>R</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>l</string>
			<key>capital</key>
			<string>L</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>u</string>
			<key>capital</key>
			<string>U</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>d</string>
			<key>capital</key>
			<string>D</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>f</string>
			<key>capital</key>
			<string>F</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>b</string>
			<key>capital</key>
			<string>B</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>2</string>
			<key>capital</key>
			<string>2</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>r&apos;</string>
			<key>capital</key>
			<string>R&apos;</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>l&apos;</string>
			<key>capital</key>
			<string>L&apos;</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>u&apos;</string>
			<key>capital</key>
			<string>U&apos;</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>d&apos;</string>
			<key>capital</key>
			<string>D&apos;</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>f</string>
			<key>capital</key>
			<string>F&apos;</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>b</string>
			<key>capital</key>
			<string>B&apos;</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>&apos;</string>
			<key>capital</key>
			<string>&apos;</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Bracket</string>
			<key>lower</key>
			<string>(</string>
			<key>capital</key>
			<string>(</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Bracket</string>
			<key>lower</key>
			<string>)</string>
			<key>capital</key>
			<string>)</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>x&apos;</string>
			<key>capital</key>
			<string>x</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>y&apos;</string>
			<key>capital</key>
			<string>y</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>z&apos;</string>
			<key>capital</key>
			<string>z</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Default</string>
			<key>lower</key>
			<string>m</string>
			<key>capital</key>
			<string>M</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Delete</string>
			<key>lower</key>
			<string>*</string>
			<key>capital</key>
			<string>*</string>
		</dict>
	</array>
	<key>BottomKeyboard</key>
	<array>
		<dict>
			<key>type</key>
			<string>Shift</string>
			<key>lower</key>
			<string>*</string>
			<key>capital</key>
			<string>*</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Space</string>
			<key>lower</key>
			<string>*</string>
			<key>capital</key>
			<string>*</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Return</string>
			<key>lower</key>
			<string>*</string>
			<key>capital</key>
			<string>*</string>
		</dict>
	</array>
</dict>
</plist>
