<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>English</key>
	<array>
		<string>2x2x2</string>
		<string>3x3x3</string>
		<string>4x4x4</string>
		<string>5x5x5</string>
		<string>6x6x6</string>
		<string>7x7x7</string>
		<string>Megaminx</string>
		<string>Square One</string>
		<string>Pyraminx</string>
		<string>Rubik&apos;s Clock</string>
		<string>8x8x8</string>
		<string>9x9x9</string>
		<string>11x11x11</string>
		<string>Other</string>
	</array>
	<key>Chinese</key>
	<array>
		<string>二阶</string>
		<string>三阶</string>
		<string>四阶</string>
		<string>五阶</string>
		<string>六阶</string>
		<string>七阶</string>
		<string>Megaminx</string>
		<string>Square One</string>
		<string>Pyraminx</string>
		<string>魔表</string>
		<string>八阶</string>
		<string>九阶</string>
		<string>十一阶</string>
		<string>其他</string>
	</array>
</dict>
</plist>
