<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>三阶</key>
	<array>
		<string>Cross</string>
		<string>F2L</string>
		<string>OLL</string>
		<string>PLL</string>
	</array>
</dict>
</plist>
